

.div-wrapper {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    height: 500px;
    margin-top: 40px;
    border: 2px solid #ddd;
    border-radius: 8px;
    background:rgb(236, 171, 134);
    
}
 
.div-to-align {
    width: 100%;
    padding: 40px 20px;
 
    /* .... */
}

